body{
	font-family: 'Bree Serif';font-size: 22px;
}

.section1{
	background-image: url('./images/background1.jpg');
	background-size: cover;
	width: 100%;
}
.black {
	background-color: #00000085;
}

img {
	border-radius: 25px;
}
.font-profile {
	margin-bottom: 3em;
}

.white {
	color:white;
}

.wrap{
	background-color: rgba(255, 255, 255, 0.7);
	width: 800px;
	color: black;
	margin: 20px auto;
	padding: 15px;
	font-size: 25px;
	border-radius: 25px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li a:hover:not(.active) {
  background-color: #DED7D7;
}

.active {
  background-color: #333;
  font-size: 25px;
}

.hover:hover{
	transform: scale(1.2,1.2);
}
